/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/01/2019, 15:59:00
    Author     : teste
*/

   .numero{
        text-decoration: none;
        background: #2A85B6;
        text-align: center;
        padding: 3px 0;
        display: block;
        margin: 0 2px;
        float: left;
        width: 20px;
        color: #fff;
    }
    .numero:hover, .numativo, .controle:hover{
        background: #1B3B54;
    }
    .controle{
        text-decoration: none;
        background: #2A85B6;
        text-align: center;
        padding: 3px 8px;
        display: block;
        margin: 0 3px;
        float: left;
        color: #fff;
    }